#
# limitation under the License
#


# Since it is not recommended to provide a custom init.rc HTCs changes to it
# were extracted into init.endeavoru.htc.rc.
# Even though some of HTCs services are not relevant to CM I didn't remove them
# yet. In case modifications were made they are marked with a "# CM:" comment to
# make it easier to detect them.
#
# Add your changes to this file if they need to be executed before the imports
# or to init.endeavoru.cm.rc if it doesn't matter.


# Import HTCs differences from the stock init.rc
import init.endeavoru.htc.rc

# Import HTCs init.endeavoru.common.rc
import init.endeavoru.common.rc

# Import HTCs init.endeavoru.usb.rc
import init.endeavoru.usb.rc

# Shared init between enrc2b/endeavoru
import init.tegra3-common.rc

# Our additions
import init.endeavoru.carbon.rc
